body {
  background-color: black;
}

header {
  text-align: center;
 
}
  
form {
    
    color: #00ff2a;
}

  h2 {
    color: #00ff2a;
  }

  button {
    color: #00ff2a;
    background-color: black;
  }

  p {
    color: #00ff2a;
  }